<p>Current User: <pre><%= current_user.inspect %></pre></p>
<p>Current Lawyer: <pre><%= current_lawyer.inspect %></pre></p>
<p>Current Admin: <pre><%= current_admin.inspect %></pre></p>
<p>Current Client: <pre><%= current_client.inspect %></pre></p>
